# Python standard ignores
__pycache__/
*.py[cod]
*$py.class

# CSV files
*.csv

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build
build/
dist/
*.egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Editors and IDEs
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# Tools
.pdm.toml
.pdm-python
.pdm-build/
.pypirc
.ruff_cache/
.dmypy.json
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Abstra and Cursor
.abstra/
.cursorignore
.cursorindexingignore

# Misc
*.spec
*.manifest
docs/_build/

